<%= comments.count %>件コメント
<h6 class="more" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">もっと見る....</h6>
<% comments.first(2).each do |comment| %>
  <% unless comment.id.nil? %>
    <li class="comment-container">
        <div class="comment-box">
            <div class="comment-avatar">
            </div>
            <div class="comment-text">
                <p><%= link_to "@#{comment.user.username}", users_path(comment.user.id) %></p>
                <div class="comment-entry">
                    <%= comment.text%>
                    <% if comment.user == current_user %>
                        <%= link_to micropost_comment_path(comment.micropost_id, comment.id), method: :delete, remote: true, class: "comment_destroy" do %>
                            <i class="fas fa-trash" style="color: black;"></i>
                        <% end %>
                    <% end %>
                </div>
                <span class="comment-date pull-right">
                      <%= comment.created_at.strftime('%Y/%m/%d %H:%M:%S') %>
                </span>
            </div>
        </div>
    </li>
  <% end %>
<% end %>

<div class="collapse" id="collapseExample">
  <% comments.offset(2).each do |comment| %>
    <% unless comment.id.nil? %>
      <li class="comment-container">
          <div class="comment-box">
              <div class="comment-avatar">
              </div>
              <div class="comment-text">
                  <p><%= link_to "@#{comment.user.username}" %></p>
                  <div class="comment-entry">
                      <%= comment.text %>
                      <% if comment.user == current_user %>
                          <%= link_to micropost_comment_path(comment.micropost_id, comment.id), method: :delete, remote: true, class: "comment_destroy" do %>
                              <i class="fas fa-trash" style="color: black;"></i>
                          <% end %>
                      <% end %>
                  </div>
                  <span class="comment-date pull-right">
                        <%= comment.created_at.strftime('%Y/%m/%d %H:%M:%S') %>
                  </span>
              </div>
          </div>
      </li>
    <% end %>
  <% end %>
</div>
