<div class="container">
  <div class="mt-5">
    <h1 class="page-title mb-4"><%= @title %></h1>
    <ul class="users">
      <% @users.each do |user| %>
        <li class="user-list">
          <% if user.avatar.attached? %>
            <%= image_tag user.avatar , class: "avatar" %>
          <% else %>
            <%= image_tag ("no-image.png"),class: "avatar"%>
          <% end %>
          <%= link_to user.username, user %>
          <%= render 'follow_form' %>
        </li>
      <% end %>
    </ul>

    <%= will_paginate @users , list_classes: %w(pagination justify-content-end)%>
  </div>
</div>
