
  <div class="item_index_card_ranking">
  </div>
  <div class="d-flex">
    <div class="item_index_card_image_wrap">
      <%= image_tag item.item_image_url, class: "item_card_image" %>
    </div>
    <div class="item_index_card_info_wrap">
      <div class="item_index_card_contents">
        <div class="item_index_card_item_name">
          <%= item.item_name%>      
        </div>
      </div>
      <div class="d-flex">
        <div class="star-rating item_index_card_star_rating">
          <div class="star-rating_star_wrapper">
            <div class="star-rating_front" style="width: 87.0%">★★★★★</div>
            <div class="star-rating_back"></div>
          </div>
          <div class="star-rating_score ml-1">
            4.34
          </div>
          <div class="star-rating_count">
            (全5件)
          </div>
        </div>
      </div>
      <div class="item_index_card_item_price">
        <%= item.price %>
      </div>
      <div class="item_index_card_item_link">
        <%= link_to "リンク", item.item_url %>
      </div>
      <div class="item_index_card_item_tag">
          <% item.tags.each do |tag| %>
            <span>
              <%= tag.name %>
            </span>
          <% end %>
      </div>
    </div>
  </div>

