<div class="avatar-container col-3 text-center">
  <% if micropost.user.avatar.attached? %>
    <%= image_tag micropost.user.avatar, class:"avatar" %>  
  <% else %>
    <%= image_tag ("no-image.png"), class: "avatar"%>
  <% end %>
</div>
<div class="content-container col-9">
  <span class="user"><%= link_to micropost.user.username, micropost.user%></span>
  <span class="content">
    <%= link_to micropost.content, "/microposts/#{micropost.id}"%>
    <br>
    <%= image_tag micropost.display_image if micropost.image.attached? %>
  </span>
  <span class="like">
    <%= render 'microposts/like-button', micropost: micropost %>
  </span>
  <span class="timestamp">
    <%= time_ago_in_words(micropost.created_at) %> ago.
  </span>
  <span class="delete">
    <% if current_user == micropost.user %>
      <%= link_to "削除する", micropost, method: :delete,
                                      data: { confirm: "本当に削除しますか？" } %>
    <% end %>
  </span>
</div>
