<div class="container mt-5">
  <div class="micropost-new_container mt-3">
    <h1 class="page-title">
      投稿
    </h1>
    <div class="mb-4">
      <%= form_with model: @micropost, local:true do |f| %>
      <div class="form-group">
        <%= f.label :画像 %>
        <br>
        <%= f.file_field :images, accept:  "image/jpeg,image/gif,image/png" %>
      </div>

      <div class="form-group">
        <%= f.label :投稿内容 %>
        <%= f.text_area :content , class:"form-control" %>
      </div>

      <div class="action text-center">
        <%= f.submit "投稿", class: "btn btn-round btn-service w-50 text-white rounded-pill", data: {disable_with: "投稿"} %>
      </div>
      <% end %>
    </div>
    <div class="back-container mb-2">
      <%= link_to "戻る", 'javascript:history.back()' %>
    </div>
  </div>
</div>

<script type="text/javascript">
  $("#micropost_image").bind("change", function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert("Maximum file size is 5MB. Please choose a smaller file.");
      $("#micropost_image").val("");
    }
  });
</script>
