<div class="container mt-4">
  <div class="feed-box row pr-4" id= "micropost_<%= @micropost.id %>">
    <%= render @micropost, micropost: @micropost%>
  </div>
  <div id="comments_area">
    <%= render partial: 'comments/index', locals: { comments: @comments } %>
  </div>
  <div class="comment_form">
    <div class="comment-create">
        <h3 class="text-left">コメントを投稿する</h3>
        <%= render partial: 'comments/form', locals: { comment: @comment, micropost: @micropost } %>
    </div>
  </div>
  <%= link_to "戻る", :back%>
</div>
