<div class="container mt-4">
  <div class="feed-box row pr-4">
    <div class="avatar-container col-3 text-right">
      <% if @micropost.user.avatar.attached? %>
        <%= image_tag @micropost.user.avatar, class:"avatar" %>  
      <% else %>
        <%= image_tag ("no-image.png"), class: "avatar"%>
      <% end %>
    </div>
    <div class="content-container col-9">
      <span class="user"><%= link_to @micropost.user.username, @micropost.user %></span>
      <span class="content">
        <%= @micropost.content%>
        <br>
        <%= image_tag @micropost.display_image if @micropost.image.attached? %>
      </span>
      <span class="timestamp">
        <%= time_ago_in_words(@micropost.created_at) %> ago.
      </span>
    </div>
  </div>
</div>
