<% if reviews.present? %>
  <% reviews.each do |review| %>
    <div class="row reviews">
      <div class="col-md-2 reviews-user">
        
        <p class="reviews-title"><%= link_to review.user.username, review.user %></p>
      </div>
      <div class="col-md-6 mb-3">
        <div class=" reviews-content">
          <h4 class="mb-3">評価：<%= review.rate %>点 | <%= review.title %></h4>

          <div id="star-rate-<%= review.id %>"></div>
          <%= render 'reviews/read_rate', review: review %>

          <p><%= review.content %></p>
        </div>
      </div>
      <div class="col-md-4">
        <%= link_to review.item do %>
          <div class="reviews-item">
            <img src="<%= review.item.item_image_url %>">
            <p><%=  review.item.item_name %></p>
          </div>
        <% end %>
      </div>
      <div class="col-md-12 edit-button text-right mt-3">
        <% if current_user == review.user %>
          <%= link_to '口コミを編集', edit_review_path(review), method: :get, class: 'btn btn-success' %>
          <%= link_to '口コミを削除', review, method: :delete, class: 'btn btn-danger' %>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
