<header>
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <div class="text-left">
        <a href="/">
          <img src="/assets/logo.png" alt="logo" class="navbar_logo">
        </a>
      </div>
      <div class="text-right">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse float-right" id="navbarNav">
          <ul class="navbar-nav">
            <% if user_signed_in? %>
              <li class="nav-item">
                <%= link_to "タイムライン", microposts_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "通知", microposts_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "ユーザー", users_path, class: "nav-link" if current_user.admin? %>
              </li>
              <li class="nav-item">
              <div class="btn-group nav-link">
                <div class="dropdown-toggle cursor-pointer" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <%= current_user.username %>
                </div>
                <ul class="dropdown-menu dropdown-danger ">
                  <li class="dropdown-item"><%= link_to "設定", edit_user_registration_path, class: "link" %></li>
                  <div class="dropdown-divider m-0"></div>
                  <div class="dropdown-divider m-0"></div>
                  <li class="dropdown-item"><%= link_to "マイページ", current_user, class: "link" %></li>
                  <div class="dropdown-divider m-0"></div>
                  <div class="dropdown-divider m-0"></div>
                  <li class="dropdown-item" rel="nofollow"><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "link" %></li>
                </ul>
              </div>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to "新規登録", new_user_registration_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "ログイン", sign_in_path, class: "nav-link" %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>
