<!DOCTYPE html>
<html>
  <head>
    <title>Monolog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!--fonts and icon -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
  </head>

  <body>
    <%= render 'layouts/header' %>

    <div class="alert alert-success">
      <div class="alert-wrapper">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <i class="fas fa-times"></i>
        </button>
        <div class="message"><%= alert %></div>
        <div class="message"><%= notice %></div>
      </div>
    </div>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
