<!DOCTYPE html>
<html>
  <head>
    <title>Monolog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!--fonts and icon -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>

    <%= render 'layouts/alert' %>

      <%= yield %>

  </body>
</html>
