<div class="container mb-5">
    <div class="user-login_container mt-5">
      <h1 class="page-title mb-4">
        アカウント設定
      </h1>
      <div class="mb-4">
        <%= form_with model: @user, url: user_registration_path, id:'new_user', class: 'new_user', local: true do |f| %>
          <%= render "users/shared/error_messages", resource: resource %>

          <div class="form-group">
            <%= f.label :ユーザー名 %>
            <%= f.text_field :username, autofocus: true, autocomplete: "username", class:"form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
          </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <div class="form-group">
            <%= f.label :新しいパスワード %> (<%= @minimum_password_length %> 文字以上)
            <%= f.password_field :password, autocomplete: "new-password", class:"form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :パスワードの再確認 %>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :current_password %> (変更を反映するには現在のパスワードを入力してください)
            <%= f.password_field :current_password, autocomplete: "current-password", class:"form-control" %>
          </div>

          <div class="actions text-center ">
              <%= f.submit "設定を更新する", class: "btn btn-round btn-service w-50 text-white rounded-pill", data: {disable_with: "更新"} %>
          </div>
        <% end %>
      </div>
      <div class="canncel_container mt-5">
        <h3 class="page-title mt-3">アカウントの削除</h3>

        <p>本当にアカウントを削除しますか? </p>
        <%= button_to "アカウントを削除", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %>
      </div>
    </div>
</div>
